---
---

<button
  class="absolute bottom-4 left-4 bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition-colors flex items-center space-x-2 z-10"
  data-view-model
>
  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M12 3v19"/>
    <path d="M5 10h14"/>
    <path d="M5 15h14"/>
  </svg>
  <span>Ver Modelo 3D</span>
</button>